<a href = "https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_FSUf1KMzn4Q4NBDihoOGkrzFKD3CYkzw&scope=read_write&reditect_uri=http://localhost:3001/payments/ConnectedToStripe">
<button type="button" class="btn btn-primary" id= "connectStripeButton" >Connect to Stripe</button>
</a>
